.projectCard {
  max-width: 70%;
  height: auto;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-self: center;
  box-shadow: 2px 2px #6fafe4de, -0.1em 0 0.1em #6fafe4de;
  margin: 1% 0 2% 0;
  background-color: rgba(0, 0, 0, 0.438);
  color: white;
}

.projectCard h3 {
  font-size: 3vmax;
  color: white;
  text-shadow: 1px 1px #030e16;
}

.projectCard img {
  width: 100%;
  max-height: 22em;
  align-self: center;
  display: block;
  box-shadow: 2px 2px #2196f3, -1px -1px #2196f3;
}

.projectCard p {
  font-size: 2vmax;
  max-width: 70%;
  padding-top: 0.5em;
  align-self: center;
}

.links a {
  padding: 1% 4%;
  margin: 1%;
}
