.socialProfiles {
  display: flex;
  justify-content: space-around;
  min-width: 100%;
  background-color: rgb(29, 91, 161);
  padding: 1%;
  flex-shrink: 2;
}

.profile {
  display: inline-flex;
  min-width: 70%;
  justify-content: space-around;
}

@media only screen and (max-width: 486px) {
  footer h3 {
    display: none;
  }
}
