.app {
  display: flex;
  min-width: 100%;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  box-sizing: border-box;
}

header {
  display: flex;
  position: relative;
  top: 3.5rem;
  max-width: 100%;
  justify-content: center;
  color: #000000;
  background-image: url("./assets/background-landing.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 35rem;
}

h1,
h3 {
  padding: 1%;
}
/* hello text animation */
h1 span {
  display: table-cell;
  margin: 0;
  padding: 0;
  animation: animate 4.5s linear infinite;
}

h1 span:nth-child(1) {
  animation-delay: 0s;
}
h1 span:nth-child(2) {
  animation-delay: 0.5s;
}
h1 span:nth-child(3) {
  animation-delay: 1s;
}
h1 span:nth-child(4) {
  animation-delay: 1.5s;
}
h1 span:nth-child(5) {
  animation-delay: 2s;
}
h1 span:nth-child(6) {
  animation-delay: 2.5s;
}

@keyframes animate {
  0%,
  100% {
    color: #2196f3;
    filter: blur(2px);
    text-shadow: 0 0 10px #9da6ad, 0 0 1rem #9da6ad, 0 0 2rem #9da6ad,
      0 0 4rem #9da6ad, 0 0 8rem #9da6ad, 0 0 14rem #9da6ad;
  }
  5%,
  95% {
    color: #111;
    filter: blur(0px);
    text-shadow: 0 0 10px none;
  }
}

.headerCard {
  max-width: 30rem;
  background-color: rgba(126, 126, 126, 0.247);
  box-shadow: 2px 2px #6fafe4de, -0.1em 0 0.1em #6fafe4de;
  font-weight: 600;
  cursor: pointer;
}

header p {
  font-size: 1.2rem;
  padding: 1%;
  text-align: center;
}

.bio {
  font-weight: 600;
  max-width: 50%;
  margin: 1%;
}

.bio a:hover {
  text-decoration: none;
}
/* hover effect for the buttons*/
a {
  position: relative;
  display: inline-block;
  padding: 0.75rem 1.5rem;
  color: #2196f3;
  letter-spacing: 0.2rem;
  text-decoration: none;
  font-size: 1rem;
  overflow: hidden;
  transition: 0.2s;
}

a:hover {
  color: #255784;
  background: #2195f3de;
  box-shadow: 0 0 0.3rem #2195f3de;
  transition-delay: 1s;
}

a span {
  position: absolute;
  display: block;
}

a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #2196f3);
}

a:hover span:nth-child(1) {
  left: 100%;
  transition: 1s;
}

a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #2196f3);
}

a:hover span:nth-child(3) {
  right: 100%;
  transition: 1s;
  transition-delay: 0.5s;
}

a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #2196f3);
}

a:hover span:nth-child(2) {
  top: 100%;
  transition: 1s;
  transition-delay: 0.25s;
}

a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #2196f3);
}

a:hover span:nth-child(4) {
  bottom: 100%;
  transition: 1s;
  transition-delay: 0.75s;
}
