@font-face {
  font-family: RobotoCondensed;
  src: url(./assets/roboto-condensed.bold.ttf);
  font-weight: 800;
}

@font-face {
  font-family: EconomicaBold;
  src: url(./assets/economica-bold.ttf);
}

* {
  box-sizing: border-box;
}

html {
  font-size: 3vh;
}

body {
  font-family: "RobotoCondensed";
  padding: 0;
  margin: 0;
}

h1,
h2,
h3 {
  font-family: "EconomicaBold";
  text-shadow: 1px 1px 2px rgb(91, 123, 182);
}
