@font-face {
  font-family: RobotoCondensed;
  src: url(./assets/roboto-condensed.light.ttf);
  font-weight: 800;
}

@font-face {
  font-family: EconomicaBold;
  src: url(./assets/economica-bold.ttf);
}

* {
  box-sizing: border-box;
}

html {
  font-size: 3vh;
}

body {
  text-align: center;
  font-family: "RobotoCondensed";
  text-shadow: 0 10px 20px rgba(255, 253, 253, 0.295),
    0 6px 6px rgba(255, 254, 254, 0.295);
  padding: 0;
  margin: 0;
}

h1,
h2,
h3 {
  font-family: "EconomicaBold";
  text-shadow: 1px 1px 2px rgb(91, 123, 182);
}
